__pycache__
out

.mypy_cache
.venv
.pdm-python
pdm.lock

.ruff_cache

# debug and backup folders
_debug/
_bck/

# debug env variables
.env

# macos thumbnail database
.DS_Store

# man
instructions.txt
